
body {
  background-image: url(https://images.hdqwalls.com/download/neon-city-pan-4k-20-2560x1440.jpg);
  background-size: cover;
  margin: 0;
}

.topEl {
  align-content: center;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
  color: #0099ff;
  text-shadow: 0 0 3px #0099ff, 0 0 20px rgb(137 207 240 / 0.8),
    0 0 35px rgb(137 207 240 / 0.7), 0 0 50px rgb(137 207 240 / 0.6);
  border-color: rgb(0, 0, 0);
  font-family: Rye, cursive;
  -webkit-text-stroke: 0.5px rgb(16 52 166);
  animation: blink 12s infinite;
  -webkit-animation: blink 1s infinite;
}

h1 {
  font-size: calc(10px + 10vh);
  line-height: calc(5px + 5vh);
  text-shadow: 0 0 5px #ff6ec7, 0 0 15px #ff6ec7, 0 0 20px #ff6ec7,
    0 0 40px #ff6ec7, 0 0 60px #bb39f7, 0 0 10px #56ff2c, 0 0 98px #bb39f7;
  color: #f7eff5;
  -webkit-text-stroke: 0.1px rgb(141, 111, 133);
  font-family: "Rye", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ff6ec7, 0 0 15px #ff6ec7, 0 0 20px #ff6ec7,
      0 0 40px #ff6ec7, 0 0 60px #bb39f7, 0 0 10px #ff6ec7, 0 0 98px #bb39f7;
    color: #f7eff5;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ff6ec7, 0 0 15px #ff6ec7, 0 0 20px #ff6ec7,
      0 0 40px #ff6ec7, 0 0 60px #bb39f7, 0 0 10px #56ff2c, 0 0 98px #bb39f7;
    color: #f7eff5;
  }
}

.slotColumns {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  /* align-content: center; */
  grid-template-columns: repeat(3, auto);
}

.slot {
  width: 100px;
  height: 100px;
  background-color: black;
  /* border: 1px solid white; */
  overflow: hidden;
  position: relative;
  top: 20px;
  left: 20px;
  width: 250px;
  height: 250px;
  /* animation-name: spin;
     animation-duration: 5000ms;
     animation-iteration-count: infinite;
     animation-timing-function: linear;  */
  /* animation: spin 10s linear infinite; */
  animation: spin 10s linear infinite;
}

button {
  outline: 0;
  position: relative;
  display: inline-block;
  flex-wrap: wrap;
  padding: 10px 40px;
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #ff6ec7;
  background: #ff6ec7;
  color: #000;
  font-weight: 600;
  transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

button:hover {
  background-color: #ff6ec7;
  color: #000;
  box-shadow: 0 0 5px #ff6ec7, 0 0 20px rgb(255 110 199 / 0.8),
    0 0 35px rgb(255 110 199 / 0.7), 0 0 50px rgb(255 110 199 / 0.6);
  border-color: #fff;
}

.animate__backInDown {
  animation: backInDown;
  animation-duration: 5s;
}
